<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="filebrowser.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="filebrowser.Perspective"
            id="FileBrowser.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="filebrowser.BrowserView"
            id="FileBrowser.browserView"
            name="Browser"
            restorable="true">
      </view>
      <view
            class="filebrowser.PathView"
            id="FileBrowser.pathView"
            name="Path"
            restorable="true">
      </view>
      <view
            class="filebrowser.ImageView"
            id="FileBrowser.imageView"
            name="ImageView"
            restorable="true">
      </view>
      <view
            class="filebrowser.LogView"
            id="FileBrowser.logView"
            name="LogView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="filebrowser.MyTextEditor"
            default="false"
            extensions="txt"
            id="FileBrowser.MyTextEditor"
            name="MyTextEditor">
      </editor>
      <editor
            class="filebrowser.ImageEditor"
            default="false"
            id="FileBrowser.ImageEditor"
            name="ImageEditor">
      </editor>
   </extension>

</plugin>
